.contact_infoBx .icon{
    position:absolute;
    left:0;
    right:0;
    top:-25px;
    margin:0px auto -25px;
    width:50px;
    height:50px;
    color:#ffffff;
    font-size:25px;
    background-color:#1f2731;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.contact_infoBx .icon img{
    filter:invert(1);
    width:28px;
}
.contact_infoBx a:hover{
    color:#FF7C44;
}
.contact_bx{
    box-shadow:0 0 10px rgba(0, 0, 0, 0.10);
    padding:50px 30px 30px;
    border-radius:30px;
}
.contactForm{
    margin-top:45px;
}
.contact-form .form-control{
    outline:0;
    box-shadow:none;
    border-radius:12px;
    height:auto;
}
.contactForm .contact-form .form-control {
    border: 1px solid #e0e0e0;
    padding-left: 15px;
}
.contactForm .form-floating>label{
    left: 0px;
    overflow: unset;
}
.contactForm .title{
    margin-bottom:25px;
}
.contact_infoBx {
    text-align: center;
    background: #f5f5f5;
    padding: 38px 40px 15px;
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.contact_infoBx .icon {
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    margin: 0px auto -25px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 25px;
    background-color: #1f2731;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:991px){
.contact_infoBx {
    padding: 38px 25px 15px;
}
}

@media screen and (max-width:576px){
.contact_bx {
    border-radius: 20px;
    padding: 50px 20px 30px;
}
}